# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Global codings styles
[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# All code must me encoded in utf-8
[*.{php,py}]
charset = utf-8

# Yaml files must be double indented
[*.{yml,yaml}]
indent_size = 2

# Gitmodules shouldn't be modified directly
# But if we do modify it, we need to work in tabs
[.gitmodules]
indent_style = tab

# Enforce final newline for markdown files
[*.md]
insert_final_newline = true