# "include" .htaccess file for the bank
# Copyright 2019 - Ethan Marshall

# Deny all requests
Deny from all

# We need to allow access to the CSS, JS and other client areas
<Files *.css>
    Allow from all
</Files>

<Files *.js>
    Allow from all
</Files>

<Files *.map>
    Allow from all
</Files>