# Main .htaccess file for the bank
# Copyright 2019 - Ethan Marshall

# Make sure uppercase directory index is supported
DirectoryIndex Index.php

# Turn on rewrite engine
RewriteEngine on

# Pretty permalinks support
RewriteBase /
RewriteRule ^Index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Index.php?permalink=1 [L]

# Deny access to certain areas
<Files ~ "\.ini$">
Order Allow,Deny
Deny from All
</Files>

<Files ~ "\.json$">
Order Allow,Deny
Deny from All
</Files>

<Files ~ "setuptoken.txt$">
Order Allow,Deny
Deny from All
</Files>

<IfModule mod_headers.c>
    <Files ~ favicon>
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </Files>
</IfModule>

# Force output buffering (fixes header errors)
php_value output_buffering 4096

# Custom error pages
ErrorDocument 400 /Error.php?code=400
ErrorDocument 401 /Error.php?code=401
ErrorDocument 403 /Error.php?code=403
ErrorDocument 404 /Error.php?code=404
ErrorDocument 500 /Error.php?code=500