<!DOCTYPE html>
<html>

	<head>
		{{template "head.gohtml"}}

		<script src="/assets/js/install.js"></script>
	</head>

	<body class="container-fluid text-center">

		<div class="jumbotron-fluid">
			<img class="rounded-circle" src="/assets/scammer-logo.jpg" width=300 height=300>

			<h1 class="display-4">Final setup</h1>
			<p class="lead">Congratulations! Your installation is now complete. Now, we just need to know a few more things before you can get started</p>
			<hr class="my-4 bg-dark">
		</div>

		<form action="/admin/install/final" method="POST">
			<div class="row">
				<div class="col border">
					<h3 class="display-4">Administrative user setup</h3>
					<p class="lead">Please supply your preferred credentials for the new administrator account. You will login to this account after setup.</p>

					<div class="text-left">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="username" class="form-control" name="username" placeholder="Username - required">
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control" name="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password" placeholder="Password - required">
							<small id="passInfo" class="form-text text-muted">Please choose a strong password, at least 5 characters long and including a number</small>
						</div>
						<div class="form-group">
							<label for="password_hint">Password hint</label>
							<input type="text" class="form-control" name="password_hint" placeholder="Password hint">
							<small id="hintInfo" class="form-text text-muted">If you ever forget your password, this will help you to remember. Don't make it too obvious. Remember, this should only make sense to you</small>
						</div>
					</div>
				</div>
				<div class="col border">
					<h3 class="display-4">Site configuration</h3>
					<p class="lead">The site has certain customization options you may wish to set before visiting the site for the first time. Don't worry, you can change these later.</p>

					<div class="text-left">
						<div class="form-group">
							<label for="bank_name">Bank name</label>
							<input type="text" class="form-control" name="bank_name" placeholder="D.S Johnson & Son">
							<small id="banknameHelp" class="form-text text-muted">This is the text that will be used in the title bar, the navigation menu etc.</small>
						</div>
						<div class="form-group">
							<label for="urlInput">Bank URL</label>
							<input type="text" class="form-control" name="bank_url" placeholder="https://djohnson.financial">
							<small id="urlHelp" class="form-text text-muted">This is the URL that you have set up the bank to be served on. If you have not done this, leave it blank</small>
						</div>
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" name="disable_admin">
							<label class="form-check-label" for="disable_admin">Disable administrator dashboard (not recommended)</label>
						</div>
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col">
					<button type="button" onclick="finalConfig()" class="btn btn-primary form-button-fill">
						Confirm and Complete Setup
						<span id="saveProgress" class="spinner-border spinner-border-sm d-none"></span>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="/admin/install/final?skip">Skip this step</a>
				</div>
			</div>

			<p id="setupError" class="d-none text-danger"><strong>Setup failed:</strong> <span id="setupErrorMsg"></span></p>
		</form>
	</body>

</html>
