<!DOCTYPE html>
<html>
	<head>
		{{template "head.gohtml"}}
	</head>

	<body class="container-fluid">

	    <div class="jumbotron-fluid text-center">

		<img class="rounded-circle" src="/assets/scammer-logo.jpg" width=300 height=300>

		<h1 class="display-4">Restart to complete install</h1>
		<p class="lead">DSJAS is now installed. To begin using the site, please restart the server. Click finish below to stop the server. You must then manually re-launch it again to continue. DSJAS will re-open in your browser when it is ready.</p>
		<hr class="my-4 bg-dark">
		<a class="btn btn-primary" href="/admin/install/shutdown">Finish</a>
		<hr>
	    </div>

	</body>
</html>
