<!DOCTYPE html>
<html>
	<head>
		{{template "head.gohtml"}}
	</head>

	<body class="container-fluid">

	    <div class="jumbotron-fluid text-center">

		<img class="rounded-circle" src="/assets/scammer-logo.jpg" width=300 height=300>

		<h1 class="display-4">Install complete! You're all set up and ready to go</h1>
		<p class="lead">DSJAS has been fully set up and should be ready to go. Thanks for installing!</p>
		<hr class="my-4 bg-dark">
		<a class="btn btn-primary" href="/">Go to homepage</a>
		<a class="btn btn-warning" href="/admin/user/login?post_install">Admin dashboard</a>

		<hr>
		<a href="https://github.com/DSJAS/DSJAS/blob/master/docs/install/First%20steps%20in%20the%20program.md">Need help getting started?</a>

	    </div>

	</body>
</html>
