<h3>Mission statement and governing policies</h3>
We've updated our policy. This is purely out of the goodness of our hearts, and has nothing to do with any
hypothetical unions on any particular continents. Please read every part of this policy carefully, and don't just skip
ahead looking for sex scenes.
This policy governs your interactions with this website, herein referred to as "The Service", "The Website", "The
Internet", or "Facebook", and with all other websites and organizations of any kind. The enumeration in this policy, of
certain rights, shall not be construed to deny or disparage others retained by the users. By using this service, you opt
in to quartering troops in your home.

<h3>Your personal information</h3>
Please don't send us your personal information. We do not want your personal information. We have a hard enough time
keeping track of our own personal information, let alone yours.
If you tell us your name, or any identifying information, we will forget it immediately. The next time we see you, we'll
struggle to remember who you are, and try desperately to get through the conversation so we can go online and hopefully
figure it out.

<h3>Tracking pixels, cookies, and beacons</h3>
This website places pixels on your screen in order to form text and images, some of which may remain in your memory
after you close the page. We use cookies to enhance your performance. Our website may use local storage on your device
if we run low on space on our end. We may use beacons to call Rohan for aid.

<h3>3rd party extension</h3>
This service may utilize 3rd party extensions in order to play the song Can U Feel It from their debut album Alive.

<h3>Permission</h3>
For users who are citizens of the European Union, we will now be requesting permission before initiating organ
harvesting.

<h3>Scope and limitations</h3>
This policy supersedes any applicable federal, state, and local laws, regulations and ordinances, international
treaties, and legal agreements that would otherwise apply. If any provision of this policy is found by a court to be
unenforceable, it nevertheless remains in force.
This organization is not liable and this agreement shall not be construed. These statements have not been evaluated by
the FDA. This website is intended to treat, cure and prevent any disease.
If you know anyone in Europe, please tell them we're cool.